body{
	font-family: sans-serif;
	font-size: 18px;
	border-bottom: 5px solid #222222;
	border-top: 5px solid #222222;
	margin: 30px;
	padding: 50px;
	background: #f6f6f6
}

header{
	text-align: center;
}
nav{
}

hr{
	border-top: 1px solid #222222
}

h3 {
	font-family: sans-serif;
}

.column-right img{
	padding: 10px;
	border: 1px solid #000000;
	margin-top: 20px;
	margin-left: 20px;
}

	.copy{
		font-family: serif;
		margin-bottom: 60px; 
	}

.picture{ 

	text-align: center

}

.picture img{
	padding: 10px;
	border: 1px solid #000000;
}

.category-headers {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -20px;

}


.primary-titles {
  display: inline-block;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;

}

.company {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 2px;
  
}

.year {
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
}


.category-details {
  font-size: 18px;
  font-family: serif;
  font-style: normal;
  margin-top: -15px;
 }

footer nav a{
	color: #000000;

}

header nav a{
	color: #000000;

}

header nav strong{
	font-style: italic;
}

ul {
    list-style-type: square;
}


