.wrapper {
	max-width: 840px;
	margin: 0 auto;
	/*border: 1px solid red;*/

}

.responsive-block-img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.responsive-block2-img {
	display: inline-block;
	max-height: 100%;
	width: auto;
}

.topbar {
	float: left;
	background-color: #ccc;
	width: 200px;
	height: 110px;
	/*padding: 10px;*/
	overflow: hidden;
	margin: 10px;

	/*border: 1px solid red;*/

}


.top-left {
	float: left;
	background-color: #ccc;
	width: 80px;
	height: 40px;
	/*padding: 10px;*/
	overflow: hidden;
	margin: 50px 5px 10px 170px;
	/*border: 1px solid red;*/

}

.top-middle {
	float: left;
	background-color: #ccc;
	width: 80px;
	height: 40px;
	/*padding: 10px;*/
	overflow: hidden;
	margin: 50px 5px 10px 5px;

	/*border: 1px solid red;*/

}

.top-right {
	float: left;
	background-color: #ccc;
	width: 80px;
	height: 40px;
	/*padding: 10px;*/
	overflow: hidden;
	margin: 50px 5px 10px 5px;

	/*border: 1px solid red;*/

}

header {
	overflow: hidden;
}

main {
	/*height: 270px;*/
	overflow: hidden;

}



.col1 {
	float: left;
	background-color: #ccc;
	width: 148px;
	height: 588px;
	/*padding: 40px;*/
	margin: 10px;
	overflow: hidden;
	/*border: 1px solid red;*/
}


.col2{
	float: left;
	background-color: #ccc;
	width: 650px;
	height: 200px;
	/*padding: 40px;*/
	margin: 10px;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.col3{
	float: left;
	background-color: #ccc;
	width: 484px;
	height: 200px;
	/*padding: 40px;*/
	margin: 10px;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.col4 {
	float: left;
	background-color: #ccc;
	width: 148px;
	height: 200px;
	/*padding: 40px;*/
	margin: 10px;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.col5 {
	float: left;
	background-color: #ccc;
	width: 148px;
	height: 148px;
	/*padding: 40px;*/
	margin: 10px;
	overflow: hidden;
	/*border: 1px solid red;*/
}


.bottombar {
	background-color: #ccc;
	width: 820px;
	height: 148px;
	/*padding: 10px;*/
	overflow: hidden;
	margin: 10px;

	/*border: 1px solid red;*/

}

footer {
	clear: both;

}